<% param_prefix = "payment_source[#{payment_method.id}]" %>

<fieldset>
  <div class="alpha omega four columns">
    <div>
      <div class="field">
        <%= label_tag "voucher_number", Spree.t(:voucher_number) %><span class="required">*</span><br />
        <%= text_field_tag "#{param_prefix}[number]", nil, {:id => 'voucher_number', :class => 'required', :size => 19, :maxlength => 19} %>
      </div>
    </div>
  </div>

  <% if @order.payments.any? { |payment| payment.persisted? && payment.voucher? } %>
  <div class="alpha omega four columns">
    <div>
      <p>Voucher(s) used on this order</p>

      <table>
        <thead>
          <tr>
            <th><%= Spree.t(:voucher_number) %></th>
            <th><%= Spree.t(:voucher_expiration) %></th>
            <th><%= Spree.t(:payment_amount) %></th>
            <th><%= Spree.t(:voucher_remaining_amount) %></th>
          </tr>
        </thead>
        <tbody>

          <% @order.payments.each do |payment| %>
            <% next unless payment.persisted? && payment.voucher? %>

            <tr>
              <td class="align-center"><%= payment.source.number %></td>
              <td class="align-center"><%= payment.source.expiration || Spree.t('no_voucher_expiration_applicable') %></td>
              <td class="align-center"><%= Spree::Money.new(payment.amount, {currency: payment.order.currency}) %></td>
              <td class="align-center"><%= Spree::Money.new(payment.source.authorizable_amount, {currency: payment.source.currency}) %></td>
            </tr>

          <% end %>        
          
        </tbody>
      </table>
    </div>
  </div>
  <% end %>

  <div class="clear"></div>
</fieldset>

