<% address_id = 'v' %>
<div class="inner" data-hook=<%="#{address_type}_inner" %>>
  <p class="field" id=<%="#{address_id}firstname" %>>
    <%= form.label :firstname, Spree.t(:first_name) %><span class="required">*</span><br />
    <%= form.text_field :firstname, :class => 'required', :name => "#{param_prefix}[firstname]" %>
  </p>
  <p class="field" id=<%="#{address_id}lastname" %>>
    <%= form.label :lastname, Spree.t(:last_name) %><span class="required">*</span><br />
    <%= form.text_field :lastname, :class => 'required', :name => "#{param_prefix}[lastname]" %>
  </p>
  <p class="field" id=<%="#{address_id}address1" %>>
    <%= form.label :address1, Spree.t(:street_address) %><span class="required">*</span><br />
    <%= form.text_field :address1, :class => 'required', :name => "#{param_prefix}[address1]" %>
  </p>
  <p class="field" id=<%="#{address_id}address2" %>>
    <%= form.label :address2, Spree.t(:street_address_2) %><br />
    <%= form.text_field :address2, :name => "#{param_prefix}[address2]" %>
  </p>
  <p class="field" id=<%="#{address_id}city" %>>
    <%= form.label :city, Spree.t(:city) %><span class="required">*</span><br />
    <%= form.text_field :city, :class => 'required', :name => "#{param_prefix}[city]" %>
  </p>
  <p class="field" id=<%="#{address_id}country" %>>
    <%= form.label :country_id, Spree.t(:country) %><span class="required">*</span><br />
    <span id=<%="#{address_id}country" %>>
      <%= form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required', :name => "#{param_prefix}[country_id]"} %>
    </span>
  </p>

  <% if Spree::Config[:address_requires_state] %>
    <p class="field" id=<%="#{address_id}state" %>>
      <% have_states = !address.country.states.empty? %>
      <%= form.label :state, Spree.t(:state) %><span class='required' id=<%="#{address_id}state-required"%>>*</span><br/>

      <% state_elements = [
         form.collection_select(:state_id, address.country.states,
                            :id, :name,
                            {:include_blank => true},
                            {:class => have_states ? 'required' : 'hidden',
                             :name => "#{param_prefix}[state_id]",
                            :disabled => !have_states}) +
         form.text_field(:state_name,
                            :class => !have_states ? 'required' : 'hidden',
                             :name => "#{param_prefix}[state_name]",
                            :disabled => have_states)
         ].join.gsub('"', "'").gsub("\n", "")
      %>
      <%= javascript_tag do -%>
        $('#<%="#{address_id}state" %>').append("<%== state_elements %>");
      <% end %>
    </p>
      <noscript>
        <%= form.text_field :state_name, :class => 'required', :name => "#{param_prefix}[state_name]" %>
      </noscript>
  <% end %>

  <p class="field" id=<%="#{address_id}zipcode" %>>
    <%= form.label :zipcode, Spree.t(:zip) %><% if address.require_zipcode? %><span class="required">*</span><br /><% end %>
    <%= form.text_field :zipcode, :class => "#{'required' if address.require_zipcode?}",:name => "#{param_prefix}[zipcode]" %>
  </p>
  <p class="field" id=<%="#{address_id}phone" %>>
    <%= form.label :phone, Spree.t(:phone) %><% if address.require_phone? %><span class="required">*</span><br /><% end %>
    <%= form.phone_field :phone, :class => "#{'required' if address.require_phone?}",:name => "#{param_prefix}[phone]" %>
  </p>
</div>
